@model EditProfileVM
@{
    ViewData["Title"] = "Profil Düzenle";
}
<div class="ia_admin_edit">
    <form method="post">
        <div class="ia_admin_form">
            <p class="ia_title">Profili Düzenle</p>
            <input type="hidden" asp-for="Id" />
            <input class="ia_admin_input" asp-for="FirstName" placeholder="Ad" />
            <textarea class="ia_admin_input" asp-for="LastName" placeholder="Soyad"></textarea>
            <input class="ia_admin_input" asp-for="UserName" placeholder="Kullanıcı adı" />
            <input class="ia_admin_input" asp-for="Email" placeholder="E Posta" />
            <input class="ia_admin_input" asp-for="Password" placeholder="Şifre" />
            <input class="ia_admin_input" asp-for="ConfirmPassword" placeholder="Şifre"/>
            <button type="submit" class="ia_button_blue">Düzenle</button>
        </div>
    </form>
</div>
