@model List<AboutDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Hakkımda";
}
<div class="getcontact">
<p class="ia_title">Biz kimiz?</p>

@foreach (var item in Model)
{
    <p>@item.Description</p>
}
</div>