@model List<ContactDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "İletişim";
}
<div class="getcontact">
<p class="ia_title">İletişim</p>

@foreach (var item in Model)
{
    <ul>
        <li>Tel:@item.Phone</li>
        <li>E posta: @item.Mail</li>
        <li>Adres:@item.Description</li>
        <li>@item.Title</li>
    </ul>
    }
</div>