@model List<ProductDto>

<div class="ia_home_product">
    @foreach (var item in Model)
    {
        <div class="ia_product">
            <img class="ia_product_image" src="~/image/@item.ImageUrl" alt="" />
            <span class="ia_title">300₺</span>
            <p>@item.ProductName.Substring(0, 20)</p>
             <a asp-action="ProductDetail" asp-route-id="@item.Id" class="ia_button_fullsize">İncele</a>
        </div>
    }
</div>