@{
    ViewData["Title"] = "DashBoard";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
@section Scripts {
    <div class="cart">
        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7028/SignalRHub").build();
                $("#connstatus").text(connection.state);
                connection.start().then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendStacistic");
                    }, 1000);
                }).catch((err) => { console.log(err) });
                connection.on("ProductCount", (productcountvalue) => {
                    $("#productcount").text(productcountvalue);
                });
                connection.on("ProductMaxPrice", (productmaxvalue) => {
                    $("#productmaxprice").text(productmaxvalue);
                });
                connection.on("ProductMinPrice", (productminvalue) => {
                    $("#productminprice").text(productminvalue);
                });
                connection.on("ProductPriceAvg", (productpriceavg) => {
                    $("#productavg").text(productpriceavg);
                });

            });
        </script>
    </div>
}
<div class="alert alert-danger">bağlantı dururmu <strong id="connectionstatus"></strong></div>
<div class="alert alert-danger">Ürün sayısı <strong id="productcount"></strong></div>
<div class="alert alert-danger">En Pahalı Ürün <strong id="productmaxprice"></strong></div>
<div class="alert alert-danger">En Ucuz Ürün <strong id="productminprice"></strong></div>
<div class="alert alert-danger">Fiyat Ortalaması <strong id="productavg"></strong></div>