@model CategoryCreateDto
@{
    ViewData["Title"] = "Yeni";
}
<div class="ia_admin_edit">
    <form method="post">
        <div class="ia_admin_form">
            <p class="ia_title">Yeni kategori ekle</p>
            <input class="ia_admin_input" asp-for="CategoryName" placeholder="Başlık" />
            <button type="submit" class="ia_button_blue">Ekle</button>
        </div>
    </form>
</div>