@model SocialMediaCreateDto
@{
    ViewData["Title"] = "Yeni";
}
<div class="ia_admin_edit">
    <form method="post">
        <div class="ia_admin_form">
            <p class="ia_title">Yeni sosyal medya linki ekle</p>
            <input class="ia_admin_input" asp-for="Title" placeholder="Başlık" />
            <textarea class="ia_admin_input" asp-for="Url" placeholder="Link"></textarea>
            <input class="ia_admin_input" asp-for="Icon" placeholder="Resim Adresi" />
            <button type="submit" class="ia_button_blue">Ekle</button>
        </div>
    </form>
</div>