@model ProductCreateDto
@{
    ViewData["Title"] = "Yeni";
}
<div class="ia_admin_edit">
    <form method="post" asp-action="CreateProduct" enctype="multipart/form-data">
        <div class="ia_admin_form">
            <p class="ia_title">Yeni ürün ekle</p>
            <input class="ia_admin_input" asp-for="ProductName" placeholder="Başlık" />
            <textarea class="ia_admin_input" asp-for="Description" placeholder="Açıklama"></textarea>
            <input name="formFile" class="ia_edit_input" type="file" />
            <input class="ia_admin_input" asp-for="Price" placeholder="Fiyat" />
            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "ia_admin_input" })
            <input class="ia_admin_input" type="checkbox" asp-for="IsActice" /><p>Aktif</p>
            <button type="submit" class="ia_button_blue">Ekle</button>
        </div>
    </form>
</div>