@model IEnumerable<ProductDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Anasayfa";
}
<div class="ia_home_product">
    @foreach (var item in Model)
    {
        <div class="ia_product">
            <img class="ia_product_image" src="~/image/@item.ImageUrl" alt="" />
            <span class="ia_title">300₺</span>
            <p>@item.ProductName.Substring(0, 20)</p>
            <div class="ia_home_button">
                <a asp-action="ProductDetail" asp-route-id="@item.Id" class="ia_button_edit">İncele</a>
                <a class="ia_button_blue" href="#" onclick="addproductid(@item.Id)">Sepete Ekle</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script>
        function addproductid(value) {
            var id = value;
            $.ajax({
                type: 'POST',
                data: { item: id },
                url: "/Product/AddToCart/" + id,
                contentType: 'json',
                success: function () {
                    swal("Sepete Eklendi.");
                }
            });
        };
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
