@model ProductDto
@{
    ViewData["Title"] = "Yeni";
}
<div class="ia_admin_edit">
    <form method="post">
        <div class="ia_admin_form">
            <p class="ia_title">Ürün güncelle</p>
            <input type="hidden" asp-for="Id" />
            <input class="ia_admin_input" asp-for="ProductName" placeholder="Başlık" />
            <textarea class="ia_admin_input" asp-for="Description" placeholder="Açıklama"></textarea>
            <input class="ia_admin_input" asp-for="ImageUrl" placeholder="Resim Adresi" />
            <input class="ia_admin_input" asp-for="Price" placeholder="Fiyat" />
            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "ia_admin_input" })
            <input class="ia_admin_input" type="checkbox" asp-for="IsActice" /><p>Aktif</p>
            <button type="submit" class="ia_button_blue">Ekle</button>
        </div>
    </form>
</div>