﻿@using Microsoft.AspNetCore.Identity
@using ECommerceEntities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li><a class="item"  asp-controller="Home" asp-action="Profilim">@UserManager.GetUserName(User)</a></li>
    <li><a class="item" asp-area="" asp-controller="Account" asp-action="CikisYap">Çıkış</a></li>
}
else
{

    <li><a class="item" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
    <li><a class="item" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
      
}