@model List<Favourite>
@{
    Layout = "_Layout";
    ViewData["Title"] = "İstek Listesi";
}   
<div class="ia_profile">
    <div class="ia_profile_detail">
        @await Component.InvokeAsync("AccountVC")
        <div class="my_order">
            <div class="list_order_header">
                İstek Listesi  
                <hr />
            </div>
            @foreach (var item in Model)
            {
                <div class="list_order">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.ProductId"><img class="ia_address_image" src="~/image/@item.Product.ImageUrl" /></a>
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@item.ProductId">@item.Product.ProductName</a>
                    <a asp-controller="Favourite" asp-action="DeleteFavourite" asp-route-id="@item.FavouriteId" class="ia_button_remove">Sil</a>
                </div>
            }
        </div>
    </div>
    <div class="profile_sidebar">
        <a asp-controller="User" asp-action="Index"><i class="bi bi-watch"></i>Siparişlerim</a>
        <a asp-controller="Favourite" asp-action="Index"><i class="bi bi-heart-fill"></i>Favorilerim</a>
        <a asp-controller="User" asp-action="MyComment"><i class="bi bi-pencil-fill"></i>Yorumlarım</a>
    </div>
</div>