@model IEnumerable<FavouriteDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "İstek Listesi";
}
<p class="ia_title">İstek Listesi</p>
<div class="ia_home_product">
    @foreach (var item in Model)
    {
        <div class="ia_product">
            <img class="ia_product_image" src="~/image/@item.ImageUrl" alt="" />
            <span class="ia_title">300₺</span>
            <p>@item.ProductName.Substring(0, 20)</p>
            <div class="ia_home_button">
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.ProductId" class="ia_button_success">İncele</a>
            </div>
        </div>
    }
</div>